body {
  font-family:"brandon-grotesque", "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*img{
    min-height:300px;
    max-height:850px;
    min-width:500px;
    max-width:1000px;
}*/
a#top {
    vertical-align: top;
    padding: 10px;
    color: white;
    position:fixed;  
    bottom:50px;  
    right:40px; 
    border-radius:10px 10px 10px 10px;   
    text-decoration:none;  
    text-align:center;
    display:none;  
    background-color:#3dc9b3; 
    opacity:0.6;
}
a#top:before {
    content: '^';
}
a#top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}
@keyframes floatOne {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -20px, 0) scale(.2) rotate(45deg);
    }
}
@-o-keyframes floatOne {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -20px, 0) scale(.2) rotate(45deg);
    }
}
@-moz-keyframes floatOne {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -20px, 0) scale(.2) rotate(45deg);
    }
}
@-webkit-keyframes floatOne {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -20px, 0) scale(.2) rotate(45deg);
    }
}
@keyframes floatTwo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -35px, 0) scale(.1) rotate(45deg);
    }
}
@-o-keyframes floatTwo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -35px, 0) scale(.1) rotate(45deg);
    }
}
@-moz-keyframes floatTwo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -35px, 0) scale(.1) rotate(45deg);
    }
}
@-webkit-keyframes floatTwo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -35px, 0) scale(.1) rotate(45deg);
    }
}
@keyframes floatThree {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -50px, 0) scale(.3) rotate(45deg);
    }
}
@-o-keyframes floatThree {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -50px, 0) scale(.3) rotate(45deg);
    }
}
@-moz-keyframes floatThree {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -50px, 0) scale(.3) rotate(45deg);
    }
}
@-webkit-keyframes floatThree {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -50px, 0) scale(.3) rotate(45deg);
    }
}
@keyframes floatFour {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -65px, 0) scale(.1) rotate(45deg);
    }
}
@-o-keyframes floatFour {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -65px, 0) scale(.1) rotate(45deg);
    }
}
@-moz-keyframes floatFour {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -65px, 0) scale(.1) rotate(45deg);
    }
}
@-webkit-keyframes floatFour {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -65px, 0) scale(.1) rotate(45deg);
    }
}
@keyframes floatFive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -80px, 0) scale(.2) rotate(45deg);
    }
}
@-o-keyframes floatFive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -80px, 0) scale(.2) rotate(45deg);
    }
}
@-moz-keyframes floatFive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -80px, 0) scale(.2) rotate(45deg);
    }
}
@-webkit-keyframes floatFive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -80px, 0) scale(.2) rotate(45deg);
    }
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
